/*
 Name: Sandbox CSS
 Date: June 2012
 Description: CSS for the GUI sidebar
 Version: 0.1
 Author: Robert Flanagan
 */

#sandbox {
	background: #1BDFF0;
	margin-left: 202px;
	height: 100%;
	border: 1px solid #4C4E5A;
}
#sandbox_1 {
	background: #F89406;
	height: 50%;
	width: 50%;
	border:1px solid #4C4E5A;
	float: left;
}	
#sandbox_2 {
	background: #004AB3;
	height: 50%;
	width: 50%;
	border:1px solid #4C4E5A;
	margin-left: 50%
}	
