 /*
 Name: Sandbox CSS
 Date: June 2012
 Description: CSS for the GUI sidebar
 Version: 0.1
 Author: Robert Flanagan
 */

#sandbox {
	background: #1BDFF0;
	margin-left: 203px;
	height: 97%;
	border: 1px solid #4C4E5A;
}
#sandbox_1 {
	background: #F89406;
	height: 45%;
	width: 29.99%;
	float: left;
	overflow: scroll;
}	
#sandbox_2 {
	background: #004AB3;
	height: 45%;
	width: 29.99%;
	float: left;
	overflow:scroll;
}
#sandbox_4 {
	background: #2D6987;
	height: 45%;
	width: 39.99%;
	margin-left: 60.0%;
	overflow:scroll;
}
#fuelCycleInfo {
	background: #2D6987;
	height: 100%;
	width: 95%;
	margin-left: 5%;
	display: block;
}
#variableWindow{
	background: #2D6987;
	height: 100%;
	width: 95%;
	margin-left: 5%;
	display: none;
}
#sandbox_3 {
	background: #DBC59E;
	height: 55%;
	width: 100%;
	overflow:scroll;
}