 /*
 Name: Sandbox CSS
 Date: June 2012
 Description: CSS for the GUI sidebar
 Version: 0.1
 Author: Robert Flanagan
 */

#sandbox {
	background: #4C4E5A;
	margin-left: 203px;
	height: 97%;
	border: 1px solid #4C4E5A;
	overflow: hidden;
}
#form_sandbox {
	background: #FF9331;
	height: 45%;
	width: 29.95%;
	float: left;
	border: 1px solid #4C4E5A;
}
#sandbox_1 {
	background: #FF9331;
	height: 90%;
	width: 95%;
	overflow: auto;
	margin-left: 5%;
}
#submit_area {
	background: #FF9331;
	max-height: 10%;
	width: 100%;
}	
#sandbox_2 {
	background: #FF9331;
	height: 45%;
	width: 29.95%;
	float: left;
	overflow:auto;
	border: 1px solid #4C4E5A;
}
#sandbox_4 {
	background: #DDDDDD;
	height: 45%;
	width: auto;
	right: 0px;
	overflow:auto;
	border: 1px solid #4C4E5A;
}
#fuelCycleInfo {
	background: #DDDDDD;
	height: 100%;
	width: 95%;
	margin-left: 5%;
	display: none;
}
#variableWindow{
	background: #DDDDDD;
	height: 100%;
	width: 95%;
	margin-left: 5%;
	display: none;
}
#sandbox_3 {
	background: #DDDDDD;
	height: 100%;
	width: 100%;
	display: block;
}
#Facility_View {
	background: #DDDDDD;
	height: 100%;
	width: 100%;
	display: none;
}
#pgnImage {
	background: #DDDDDD;
	height: 100%;
	width: 100%;
	display: none;
}
#fuel_cycle_sandbox {
	background: #DDDDDD;
	height: 55%;
	width: 100%;
	overflow:auto;
	border: 1px solid #4C4E5A;
}
#timeline {
	background: #DDDDDD;
	height: 100%;
	width: 100%;
	display: block;
}
#timeline img{
	display: none;
}
