.Cycic{
	-fx-background-color: #ee9121;
	-fx-border-radius: 20;
}
#cycicPane{
	-fx-margin-left: 100;
	-fx-border-radius: 20;
	-fx-background-color: #ee9121;
}
#testAccord{
	-fx-margin-left:0;
	-fx-width: 100;
	-fx-float: left;
	-fx-background-color: #797979;
	-fx-font-size: 10px;
}